.wrapper {
  width: 100%;
  font-family: inherit;
  border: none;
  user-select: none;
  border-radius: var(--radius-sm);
  padding: var(--spacing-smd) var(--spacing-md);
  background-color: var(--colors-blue);
  cursor: pointer;

  &:hover {
    background-color: var(--colors-darkerBlue);
  }

  /* transition: all 0.15s ease; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
