@keyframes revealFromBottom {
  0% {
    transform: translateY(73px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 73px;
  border-top: 1px solid var(--colors-gray700);
  background-color: var(--colors-gray800);
  padding: var(--spacing-md);

  animation: revealFromBottom 0.2s linear;

  @media (max-width: 1024px) {
    height: 117px;
  }
}

.bottomSheet {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: flex-end;
  }
}

.skipDetails {
  display: flex;
  gap: var(--spacing-md);

  @media (max-width: 1024px) {
    justify-items: flex-end;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  @media (max-width: 1024px) {
    width: 100%;
  }
}
