@keyframes revealFromBottom {
  0% {
    transform: translateY(73px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 73px;
  border-top: 1px solid var(--colors-gray700);
  background-color: var(--colors-gray800);
  padding: var(--spacing-md);

  animation: revealFromBottom 0.2s linear;
}

.bottomSheet {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
